<section class="container">
  <div class="cards-container">
    <app-app-card
      [imagePath]="'../../assets/team.png'"
      [title]="'Equipe capacitada'"
      [paragraph]="
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.'
      "
    ></app-app-card>
    <app-app-card
      [imagePath]="'../../assets/project-guide.png'"
      [title]="'Seus projetos guiados do zero'"
      [paragraph]="
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.'
      "
    ></app-app-card>
  </div>
  <div class="action-container">
    <h1 class="title-action">
      Quer elevar seu software e seus negócios para outro nível?
    </h1>
    <app-app-button [title]="'fale com nossos especialistas'"></app-app-button>
  </div>
</section>
